* {
    font-family: Arial, sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #A59079;
    justify-items: center;
  }
  
  #navbar {
    font-size: 20px;
    display: flex;
    gap: 20px;
  }
  
  #navbar a {
    color: black;
    font-weight: bold;
  }
  
  body {
    background-color: rgb(127, 9, 9);
  }
  
  #welcome-section {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: auto;
  }
  
  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 5px;
  }
  
  .project-tile {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #A59079;
    padding: 5px;
    width: 100%;
  }

  .project-tile a {
    display: block;
  }
  
  .project-tile iframe {
    width: 99%;
    height: auto;
  }
  
  #contact_info {
    font-size: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: #A59079;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid black;
  }

  #profile-link, #fcc {
    display: block;
  }

  @media (min-width: 600px) {
    #projects {
      width: 100%;
    }
    .project-tile {
      width: 45%;
    }
  }